.root {
  @apply relative drop-shadow lg:max-w-lg w-full;

  .iconWrapper {
    @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;

    .icon {
      @apply h-5 w-5 text-gray-400;
    }
  }

  .input {
    @apply block w-full text-blue-900 rounded-lg border-transparent pl-10 focus:border-blue-500 focus:ring-blue-500 sm:text-sm;
  }
}
