.root {
  @apply inline-flex items-center rounded px-2 py-0.5 h-6 text-xs font-medium drop-shadow-md;

  &.p0 {
    @apply bg-red-100 text-red-900;
  }
  &.p1 {
    @apply bg-orange-100 text-orange-900;
  }
  &.p2 {
    @apply bg-yellow-100 text-yellow-900;
  }
  &.p3 {
    @apply bg-sky-100 text-sky-900;
  }
  &.p4 {
    @apply bg-lime-100 text-lime-900;
  }

  &.green {
    @apply bg-green-100 text-green-900;
  }

  &.gray {
    @apply bg-gray-100 text-gray-900;
  }

  &.red {
    @apply bg-red-100 text-red-900;
  }

  &.yellow {
    @apply bg-yellow-100 text-yellow-900;
  }

  &.bug {
    @apply bg-red-100 text-red-900;
  }
  &.chore {
    @apply bg-gray-100 text-gray-900;
  }
  &.feature {
    @apply bg-cyan-100 text-cyan-900;
  }
  &.release {
    @apply bg-lime-100 text-lime-900;
  }

  &.type {
    .text {
      @apply ml-1 lg:hidden;
    }
  }

  .icon {
    @apply w-4 h-4;
  }
}
