.root {
  @apply relative z-10 flex items-center gap-2 drop-shadow;

  .label {
    @apply hidden lg:inline;
  }

  .buttonWrapper {
    @apply relative w-full lg:w-[10rem];

    .listboxButton {
      @apply relative w-full cursor-default border border-transparent rounded-lg bg-white py-2 pl-3 pr-10 text-left focus:border-blue-500 focus:ring-blue-500 sm:text-sm;

      .buttonLabel {
        @apply block truncate;
      }

      .icon {
        @apply w-4 h-4 inline;
      }

      .selectIconContainer {
        @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;

        .selectIcon {
          @apply h-5 w-5 text-gray-400;
        }
      }
    }
  }

  .options {
    @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base drop-shadow ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;

    .option {
      @apply relative cursor-default select-none py-2 pl-10 pr-4 text-gray-900;

      &.active {
        @apply bg-blue-100 text-blue-900;
      }

      .icon {
        @apply w-5 h-5 inline;
      }
    }
  }
}
