.root {
  @apply w-full px-4 py-16;

  .heading {
    @apply text-4xl text-blue-900 mb-8 text-center;
  }

  .container {
    @apply mx-auto w-full max-w-7xl rounded-2xl bg-white bg-opacity-50 p-2 gap-2 flex flex-col;
  }

  .actions {
    @apply flex flex-col lg:flex-row lg:items-center lg:justify-between gap-2;
  }
}
.listRoot {
  @apply space-y-2;
}
.empty {
  @apply text-center py-8;
  .image {
    @apply mx-auto;
  }
  .heading {
    @apply mt-2 text-sm font-medium text-gray-900;
  }
  .text {
    @apply mt-1 text-sm text-gray-500;
  }
}
