.root {
  .button,
  .panel {
    @apply transition-colors;
  }
  &:hover {
    .button,
    .panel {
      @apply bg-gray-50;
    }
  }
  .button {
    @apply flex w-full items-center justify-between rounded-lg bg-white px-4 py-2 text-left text-sm font-medium text-blue-900 focus:outline-none focus-visible:ring focus-visible:ring-blue-500 focus-visible:ring-opacity-75 shadow-md;

    .wrapper {
      @apply flex items-center gap-2 flex-wrap lg:flex-nowrap;
    }

    .name {
      @apply w-full lg:w-auto;
    }
  }

  .panel {
    @apply mt-1 p-4 text-sm text-gray-500 bg-white rounded-md drop-shadow flex flex-col items-start gap-4;
  }

  .infoGroup {
    @apply bg-gray-200 text-black w-auto flex items-center gap-1 rounded-md p-1;

    .icon {
      @apply w-5 h-5 inline;
    }
  }

  .description {
    @apply overflow-x-scroll p-2 border bg-gray-100 rounded-md;
  }

  .labels {
    @apply flex gap-2;
  }
}
